* {
  box-sizing: border-box;
}

body {
  background-color: #fff2e6
}

h1 {
  border-bottom: 5px solid black;
  text-align: center;
  font-size: 75px;
  padding: 0px;
  font-style: normal;
  font-family: serif;
}

input {
  margin: 0;
  border: 3px solid black;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 24px;
  font-family: serif;
}

#add {
  border: 3px solid black;
  padding: 10px;
  width: 25%;
  height:54px;
  color: black;
  float: left;
  text-align: center;
  font-size: 30px;
  font-family: serif;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

#add:hover {
  background-color: #bbb
}

#bodyDiv {
  display:block;
}

.close {
   display:inline-block;
   vertical-align:right;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

ul {
  list-style-type: none;
  display:inline-block;
}

ul li:hover {
  background-color: #ddd
}

ul li {
  border: 2px black;
  cursor: pointer;
  position: static;
  padding: 12px 8px 12px 40px;
  background: white;
  font-size: 25px;
  user-select: none;
}
